NODE_ENV=
PORT=
CLIENT_URL=

MONGO_URI=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=

EMAIL_SERVICE=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

WITHDRAW_LOCK_DAYS=
DAILY_EARNING_CAP=

ADMIN_EMAIL=
LOG_LEVEL=
